<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">

<listeners>
<listener class-name="testCase.listerners"/>
</listeners>


  <test name="Validating Things">
    <classes>
      <class name="testCase.validatingThings"/>
      <class name="testCase.testCase"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="User Cridentials and other">
    <classes>
      <class name="testCase.testCase"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
